.git
.github
.gitignore
node_modules
coverage
.pytest_cache
__pycache__
*.pyc
.venv
venv
.bundle
.gradle
target
build
bin
obj
dist
*.gem
_site
README.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md
SECURITY.md
